table{
    width: 100%;
  }  
  .estiloCard{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px 31px;
    background-color: #272c86;

  }
  .titulo{
    margin: 9px 4px 9px;
    color: white;
    font: arial;
    font-weight: bold;
  }
  .svgCliente{
    width: 20px;
    height: 20px;
    color: rgb(255, 255, 255);
    margin-left: -17px;
    margin-right: 8px;
  }
  .svgDelete{
    width: 20px;
    height: 20px;
    color: rgb(185, 4, 4);
    margin-left: -17px;
    margin-right: 8px;
    
  }
  .positionSvg{
    padding-left: -37px;
  }

  .buttonCliente{
    margin-left: 18px;
  }
  .scaleForm{
    margin-top: -48px;
    margin-left: -24px;
    margin-right: -24px;
}
.svgEdit{
  width: 20px;
  height: 20px;
  color: rgb(17, 44, 134);
  margin-left: -17px;
  margin-right: 8px;
}
.classButton{
  outline: thin dotted;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
    background: none;
    padding-right: 0px;
    padding-bottom: 18px;
    padding-left: 37px;
}