<div class="scaleForm">
    <div class="card-personalizado">
        <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="car-side"
            class="svg-inline--fa fa-car-side fa-w-20" role="img" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 640 512">
            <path fill="currentColor"
                d="M544 192h-16L419.22 56.02A64.025 64.025 0 0 0 369.24 32H155.33c-26.17 0-49.7 15.93-59.42 40.23L48 194.26C20.44 201.4 0 226.21 0 256v112c0 8.84 7.16 16 16 16h48c0 53.02 42.98 96 96 96s96-42.98 96-96h128c0 53.02 42.98 96 96 96s96-42.98 96-96h48c8.84 0 16-7.16 16-16v-80c0-53.02-42.98-96-96-96zM160 432c-26.47 0-48-21.53-48-48s21.53-48 48-48 48 21.53 48 48-21.53 48-48 48zm72-240H116.93l38.4-96H232v96zm48 0V96h89.24l76.8 96H280zm200 240c-26.47 0-48-21.53-48-48s21.53-48 48-48 48 21.53 48 48-21.53 48-48 48z">
            </path>
        </svg>
        Manutenção de Veiculos:
    </div>
    <div class="card-body">
        <div class="card-container">
            <div class="margemForm">
                <form [formGroup]="formCarro" (ngSubmit)="onSubmit" class="form-exemplo">
                    <div style="display: none">
                        <mat-form-field class="example-full-width">
                            <mat-label>ID</mat-label>
                            <input matInput formControlName="id">
                        </mat-form-field>
                    </div>

                    <mat-form-field class="example-full-width">
                        <mat-label>Marca</mat-label>
                        <input type="text" matInput formControlName="marca" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Modelo</mat-label>
                        <input type="text" matInput formControlName="modelo" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Cor</mat-label>
                        <input type="text" matInput formControlName="cor" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Placa</mat-label>
                        <input type="text" matInput formControlName="placa" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Ano</mat-label>
                        <input type="text" matInput formControlName="anoVeiculo" required>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>Valor da diaria</mat-label>
                        <input type="number" matInput formControlName="valorDiaria" required>
                    </mat-form-field>

                    <div class="buttonCliente">
                        <button mat-flat-button type="submit" (click)="onSubmit()" color="primary"> Salvar </button>
                    </div>

                </form>
            </div>

        </div>

    </div>

</div>