<div class="card">
    <div class="card-header">
        Manutenção de Clientes:
    </div>
    <div class="card-body">
        <div class="card-container">
            <div>
                <form [formGroup]="formCliente" (ngSubmit)="onSubmit" class="form-exemplo">
                    <div style="display: none">
                        <mat-form-field class="example-full-width">
                            <mat-label>ID</mat-label>
                            <input matInput formControlName="idUser">
                        </mat-form-field>
                    </div>

                    <mat-form-field class="example-full-width">
                        <mat-label>Nome</mat-label>
                        <input type="text" matInput placeholder="Ex. João" formControlName="nome" required>
                        <mat-error *ngIf="getControl.nome.hasError('nome') && !getControl.nome.hasError('required')">
                            por favor entre com nome válido!
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width">
                        <mat-label>CPF</mat-label>
                        <input type="text" matInput placeholder="Ex: 999.999.999-99" mask="000.000.000-99" required
                            formControlName="cpf">
                        <mat-error *ngIf="getControl.cpf.hasError('cpf') && !getControl.cpf.hasError('required')">
                            por favor entre com cpf válido!
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="example-full-width">
                        <mat-label>Data de Nascimento</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="dataNascimento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>

                    <hr>

                    <button mat-button type="submit" (click)="onSubmit()" color="primary"> Salvar </button>


                </form>
            </div>

        </div>

    </div>

</div>